* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: #36bbf9;
}

body {
    width: 100%;
    min-height: 100vh;
    /*margin-left: 30px;*/
    
} 


h3{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 5px;
    align-items: center;
}


#poemIntro{
    display: flex;
    flex-direction: row;    
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 90px;
}

#bluebackground{
    animation-name: blue1;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;

 
}

#backgroundcolor{
    animation-name: difcolor;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;

} 


#poemIntro2{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 265px;
}


#background3{
   
    background-color: rgb(251, 239, 212);

} 

#poemIntro3{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 160px;
}

#background4{
   
    background-color: rgb(248, 219, 251);

} 

#poemIntro4{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 225px;
}

#background5{
   
    background-color: rgb(212, 231, 251);

} 

#poemIntro5{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 190px;
}


#poemIntro6{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 310px;
}

#background7{
   
    background-color: rgb(212, 247, 251);

} 

#poemIntro7{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 469px;
}

#background8{
    animation-name: difcolor2;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

} 

#poemIntro8{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 440px;
}

#background9{
    animation-name: difcolor;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;

} 

#poemIntro9{
    display: flex;
    flex-direction: row;    
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 550px;
}

#fullPoem{
    display: flex;
    flex-direction:column;    
    align-items: center;
    width: 70%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    color: #36bbf9;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 220px;
}


#credits1{

    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 7px;
    margin-bottom: 20px;
}

#author1{

    color: #36bbf9;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
}

#community{
    margin-left: 0.5%;
    margin-right: 3%;
    animation-name: growandFly;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#gathered{
    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: growandFly2;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#solid1{
    margin-left: 0.2%;
    margin-right: 0.5%;
    animation-name: solid1;
    animation-delay: 7s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count:inherit;
    animation-timing-function: ease-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#place1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: upRight1;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#certainty1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: up;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#comfort1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: up;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}





#legs{
    margin-left: 1%;
    margin-right: 3%;
    animation-name: legs;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#trade1{

    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: trading2;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#glance1{

    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: glance2;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#best1{
    margin-left: 0.3%;
    margin-right: 3%;
    animation-name: best2;
    animation-delay: 7s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#pews1{
    margin-left: 0.3%;
    margin-right: 3%;
    animation-name: pews2;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



#women{
    margin-left: 1%;
    margin-right: 1%;
    animation-name: womenFriendship;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#sales1{
    margin-left: 0.3%;
    margin-right: 3%;
    animation-name: best2;
    animation-delay: 4s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#Men1{
    margin-left: 1%;
    margin-right: 0%;
    animation-name: menMove;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#huddled1{
    margin-left: 1%;
    margin-right: 1%;
    animation-name: huddledMove;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#love1{
    margin-left: 0.3%;
    margin-right: 0.4%;
    animation-name: love2;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#death1{
    margin-left: 0.3%;
    margin-right: 1%;
    animation-name: death2;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



#joy1{
    margin-left: 0.3%;
    margin-right: 1%;
    animation-name: joy2;
    animation-delay: 4s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#babies1 {

    margin-left: 0.4%;
    margin-right: 0.4%;
    animation-name: babiestoblessed;
    animation-delay: 1s;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#blessed3 {

    margin-left: 0.4%;
    margin-right: 0.4%;
    animation-name: blessed2;
    animation-delay: 1s;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}



#faith2{

    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: faithglow;
    animation-delay: 1s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#community2{

    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-name: communityglow;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


#joiningaFam{
    margin-left: 1%;
    margin-right: 1%;
    animation-name: joinfam1;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a {
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #36bbf9;
    margin-left: 5px;
    font-weight: 600;
   

}


nav a:link {
    color: #36bbf9;
    text-decoration: none;
   

}

nav a:hover {
    color: #36bbf9;
}

@keyframes blue1{
    0%{
        background-color: #f8f1f1;
}

100%{

    background-color: rgb(225, 240, 253);
}

}

@keyframes difcolor{
    25%{
        background-color: #858585;
}

100%{

    background-color: rgb(255, 254, 224);
}

}

@keyframes difcolor2{
    25%{
        background-color: #e1fbfa;
}

100%{

    background-color: rgb(243, 255, 255);
}

}



@keyframes solid1{
    from{
        color: #36bbf9;
    }
    to{
        color: rgb(4, 0, 255);

}

}


@keyframes growandFly{
    from{
        transform: scale(1) 
    }
    to{
        transform: translate(20px,10px)translate(20px,-50px); 

    }

}

@keyframes growandFly2{
    from{
        transform: scale(1) 
    }
    to{
        transform: translate(-30px,10px) translate(20px,-50px);

    }

}

@keyframes upRight{

        50% {
           transform: scale(1) translate(0px,-50px);
        }
        
        100%{
            transform: translate(200px, 0px);
            
        }

}


@keyframes faith{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2) 

    }

}

@keyframes love2{
    from{
        color: #36bbf9;
    }
    to{
        color: rgb(249, 65, 255);

}
}

@keyframes playTime{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(9000deg);

    }
  
}

@keyframes pews2{
    from{
        color: #36bbf9;
    }
    to{
        background-color: rgb(225, 142, 75); color: brown;

}
}


@keyframes best2{
    from{
        color: #36bbf9;
    }
    to{
        color: rgb(255, 198, 10);

}
}

@keyframes womenFriendship{
  
  
    25% {
        transform: scale(1) ;
     }
     
     50% {
         transform: scale(2) translate(0px,-50px) ;
     }

     100% {
        transform: scale(1) ;
    
     }


}

@keyframes menMove{
    from{
        transform:200px,10px;
    }
    to{
        transform: rotate(-30deg) translate(15px, 0px);
    }
   
  
}

@keyframes huddledMove{
    from{
        transform:200px,10px;
    }
    to{
        transform: rotate(30deg)translate(-20px, 0px);
    }
  
}

@keyframes death2{
    from{
        transform:scale(1) ;
    }
    to{
        color:black;  transform: scale(3) translate(0px,50px) ; 

}
}

@keyframes joy2{
    from{
        color: #36bbf9;
    }
    to{
        color: rgba(255, 200, 0, 0.882);

}

}

@keyframes babiestoblessed{


    50% {
        transform: scale(1) translate(0px,-80px);
     }
     
     100%{
         transform: translate(227px, 0px);
     }


}

@keyframes blessed2{
    from{
        color: #36bbf9;
    }
    to{
        color: rgba(255, 200, 0, 0.882);

}

}

@keyframes trading2{


    50% {
        transform: scale(1) translate(0px,-120px);
     }
     
     100%{
         transform: scale(1)
     }


}

@keyframes glance2{


    50% {
        transform: scale(1) translate(0px,-120px);
     }
     
     100%{
         transform: scale(1)
     }


}

@keyframes joinfam1{
    0%, 25%, 50%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
  
 75%, 100%
{
    width: 100%;
}

}


@keyframes faithglow{


    50% {
        transform: scale(1) ;
     }
     
     100%{
        color: darkgoldenrod; transform: scale(1.1)
     }


}

@keyframes communityglow{


    50% {
        transform: scale(1) ;
     }
     
     100%{
        color: darkgoldenrod; transform: scale(1.1)
     }


}





.playTime1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 25s;
}
.playTime1:hover {
    transform: rotate(9000deg);
}


.legs1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: .7s;
}
.legs1:hover {
     transform: rotate(90deg);
     color: #7891ff;
}


.death1{
    margin-left: 0%;
    margin-right: 1%;
    font-size: 25px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: .7s;
}

.death1:hover {
    color: black;
    transform: scale(3) translate(0px,50px); 
}


.challenge1{
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 5s;
    
}

.challenge1:hover {
    transform: translate(-50px,47px) rotate(2000deg) translate(90px,70px);
}

.celebrate2{
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 10s;
    font-weight: 600;
    
}
.celebrate2:hover {
    transform:rotateY(1000deg) skew(17deg);
}

.blessed3{
    margin-left: 0.3%;
    margin-right: 1%;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: .7s;
}
.blessed3:hover {
    color: rgb(7, 221, 253);
}


